[mysqld]

# GENERAL #
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/lib/mysql/mysql.sock
pid-file                       = /var/lib/mysql/mysql.pid

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000

# DATA STORAGE #
datadir                        = /var/lib/mysql/

# CACHES AND LIMITS #
tmp-table-size                 = 64M
max-heap-table-size            = 64M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 100
thread-cache-size              = 16
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096

innodb-file-per-table          = 1
innodb_buffer_pool_instances   = 2
innodb_buffer_pool_size        = 2G
innodb_log_buffer_size         = 16M
innodb_log_file_size           = 256M
innodb_flush_log_at_trx_commit = 0
innodb_stats_on_metadata       = 0
innodb_flush_method            = O_DIRECT

bind-address	               = 0.0.0.0

sql_mode = "ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
